/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 20rem;
  min-block-size: 100dvb;
  font-family: var(--font-famyly), sans-serif;
  font-variation-settings: "wght" var(--font-weight);
  background-image: var(--background-gradient);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  min-inline-size: clamp(23.438rem, calc(16.285rem+30.516vw), 43.75rem);
  margin: clamp(1rem, -0.0299rem + 4.4776vw, 4rem)
    clamp(0px, -130.28px + 34.74vw, 370px);
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
  margin-block-start: 6.25rem;
  margin-block-end: 5.938rem;
}

.header__box_content {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-content: center;
  min-inline-size: clamp(23.4375rem, 16.29rem + 30.52vw, 43.75rem);
  padding-inline: clamp(1rem, -1.34rem + 10vw, 7.65625rem);
  padding-block: clamp(7.625rem, 3.85rem + 18.6vw, 8.125rem);
}

.header__title {
  grid-row: 1;
  font-size: var(--header-title-size);
  font-family: var(--font-famyly-accent), fantasy;
  line-height: 100%;
}

.header__text {
  grid-row: 2;
  font-size: var(--header-text-size);
  font-family: var(--font-famyly-accent), fantasy;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
}

.main {
  margin-top: clamp(0px, -113.82px + 17.06vw, 50px);
  margin-inline: clamp(0px, -130.28px + 34.74vw, 370px);
  min-inline-size: clamp(23.438rem, calc(16.285rem+30.516vw), 43.75rem);
}

.section {
  display: grid;
  grid-template-columns: minmax(371px, max-content);
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  margin-block-end: 52px;
}

.section__title {
  font-family: var(--font-famyly), sans-serif;
  font-size: var(--text-size);
  font-weight: 715;
  line-height: 100%;
  padding: 4px 10px 10px;
  letter-spacing: 0;
}

.section__filer-brightness {
  filter: brightness(50%);
}

.section__filer-sepia {
  filter: sepia(70%);
}

.section__filer-saturate {
  filter: saturate(200%);
}

.section__filer-invert {
  filter: invert(100%);
}

.section__filer-rotate {
  filter: hue-rotate(80deg);
}

.section__filer-blur {
  filter: blur(0.5rem);
}

.section__filer-contrast {
  filter: contrast(60%) grayscale(0.5);
}

.section__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: top right;
  position: relative;
  aspect-ratio: 1/1;
}

.section__image_box {
  position: relative;
  outline: 2px solid var(--border-color);
  inline-size: 100%;
  block-size: 100%;
}

.section__text {
  padding-block-start: 25px;
  padding-inline: 25px;
  font-family: var(--font-famyly), sans-serif;
  font-size: var(--text-size);
  font-weight: var(--font-weight);
}

.section__label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  font-family: var(--font-famyly-accent), fantasy;
  font-size: var(--label-size);
  text-shadow: -1px 0 var(--label-color), 0 1px var(--label-color),
    1px 0 var(--label-color), 0 -1px var(--label-color);
  mix-blend-mode: hard-light;
  color: var(--text-color);
}

@supports (
  (text-stroke: 1px var(--label-color)) or
    (-webkit-text-stroke: 1px var(--label-color))
) {
  .section__label {
    text-stroke: 1px var(--label-color);
    -webkit-text-stroke: 1px var(--label-color);
    text-shadow: none;
  }
}

.section_button {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
  padding: 25px;
}

.button__text {
  font-family: var(--font-famyly-accent), fantasy;
  font-size: var(--button-text-size);
  font-weight: 400;
  color: #fff;
  mix-blend-mode: difference;
  padding-top: 5px;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  border: 2px solid var(--border-color);
  background-color: transparent;
  cursor: pointer;
}

.button {
  position: relative;
  z-index: 1;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  appearance: none;
  background: #fff;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--border-color);
}

.button:focus-visible[not] {
  outline: none;
  box-shadow: none;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: #000;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__icon-button {
  display: grid;
  align-content: center;
  background: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  max-block-size: 38px;
  max-inline-size: 40px;
  justify-content: center;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--border-color);
}

.save__box {
  display: flex;
  justify-content: center;
  block-size: 55px;
}

.save__button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
}

.dialog {
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 20px;
  inline-size: 357px;
  border: 2px solid var(--text-color);
  padding: 30px;
  background-color: var(--background-color);
}

.dialog[open] {
  display: grid;
}

.dialog::backdrop {
  background-color: #000;
  opacity: 75%;
}

.floppy-icon-dialog {
  grid-column-start: 1;
  grid-row-start: 1;
  align-self: center;
  block-size: 39px;
}

.dialog__text {
  max-width: 234px;
  font-family: var(--font-famyly-accent), fantasy;
  line-height: 150%;
  font-size: var(--button-text-size);
  text-transform: uppercase;
}

.dialog__form {
  grid-column: 1/-1;
}

.dialog__button {
  width: 100%;
  text-transform: uppercase;
  block-size: 38px;
  inline-size: 293px;
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.dialog__button:focus {
  outline: none;
}

.dialog__button:focus-visible {
  box-shadow: 2px 2px var(--border-color);
}

.dialog__button:focus-visible[not] {
  outline: none;
  box-shadow: none;
}

@media (width <= 375px) {
  .header {
    margin-block-end: 6.1rem;
  }
  .header__box_content {
    padding-block: 7.563rem;
  }
  .section {
    margin-block-end: 51px;
  }
  .section_button {
    padding-top: 26px;
    padding-bottom: 25px;
  }
  .section__image {
    inline-size: clamp(0px, 0px + 98.93vw, 371px);
    block-size: 23.188rem;
  }

  .section__title {
    line-height: 120%;
    padding: 4px 10px 7px 10px;
    letter-spacing: 0;
  }

  .like-icon {
    padding-bottom: 3px;
  }

  .save__box {
    block-size: 84px;
    min-inline-size: 335px;
  }
  .save__button {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  .floppy-icon-dialog {
    grid-column-start: 1;
    align-self: center;
    inline-size: 40px;
    block-size: 40px;
  }
}
